.page-header {
	background: #f7f7f7;
	padding: $s-size 0;
	margin-bottom: $m-size;
}

.page-header__title {
	margin: 0;
	font-weight: 300;
	span {
		font-weight: 700;
	}
}

.page-header__actions {
	margin-top: $m-size;
}
